# Build output
/chrome-extension/dist/

# Node modules
/node_modules/
/chrome-extension/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*

# Editor directories and files
.idea/
.vscode/
*.swp

# MacOS files
.DS_Store

# TypeScript build artifacts
*.tsbuildinfo

# Other unwanted files
*.log
.cache/
.turbo/
